{% extends "skf/base.html" %}
{% block title %}
    Student Rank Record Info
{% endblock %}

{% block body %}

    <h2>Student Rank Record Info</h2>
    <p>Student Rank Record information show as below:</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Student Name</th>
            <th>Rank Name</th>
            <th>Awarded Date</th>
            <th>Find Student</th>
            <th>Find Rank</th>
        </tr>
        </thead>
        <tbody>
        {% for rank_record in rank_records %}
            <tr>
                <td>{{ rank_record.student.name }}</td>
                <td>{{ rank_record.rank.name }}</td>
                <td>{{ rank_record.rdate }}</td>
                <td><a href="{% url 'skf:rr_student' rank_record.id %}">Student</a></td>
                <td><a href="{% url 'skf:rr_rank' rank_record.id %}">Rank</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}